.menu a {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  color: #153633;
  font-size: 1.2em;
  font-weight: 600;
  margin-top: 1%;
  width: 17em;
}

.menu a:hover {
  color: inherit;
}

.menu ul {
  display: flex;
  flex-direction: row;
  margin-top: 1%;
}
.menu {
  position: fixed;
}

.App {
  font-family: 'Raleway', sans-serif;
  background-color: #f4beae;
  text-align: center;
}

.title-image {
  margin-top: 5%;
}
.days, .hours, .minutes, .seconds {
  display: inline;
  margin: 10px;
}

.clock-time, countdown-title {
  font-size: 2.8em;
}
.sunflower, .poppy {
  width: 4%;
}

.lavender {
  width: 6%;
}

.wedding, .story, .clock-time {
  background-color: white;
  padding: 3%;
}

/*
#container {
    height:1500px;
}

#container div {
    margin:50px;
    padding:50px;
    width:80%;
    height:50%;
    background-color:lightblue;
    -webkit-transition: all 1s ease; transition: all 1s ease;
}

.fade {
    opacity:0;
}

.show {
  opacity:1!important;
}

.intro {
  margin:50px;
  padding:50px;
  width:80%;
  height:50%;
  background-color:lightgreen;
}*/
